<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <title>Find My House</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/homePage.css" rel="stylesheet">
    <script src="../static/cookie/jquery.cookie.js"></script>
    <script src="../static/js/googleMap.js" type="text/javascript"></script> 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <nav class="navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <button type="reset" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only" >Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Find My House</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button type="reset" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-info-sign" onclick="openHelp()"></span>
            </button>

            <button type="button" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-menu-hamburger" onclick="openNav()"></span>
                <p id="helpText" class="speech" >The menu icon gives <br> further search options</p>
            </button>
            
            </span>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav> 

    <div id="mySidenav" class="sidenav">
      <a href="#">Keywords</a>
          <form id="myform"> 
              <input type="checkbox" class="cb" name="house" id="g01-01"  onchange="doalert(this)"/><span>house</span>
              <input type="checkbox" class="cb" name="cottage" id="g01-02"  onchange="doalert(this)"/><span>cottage</span>
              <input type="checkbox" class="cb" name="studio" id="g01-03"  onchange="doalert(this)"/><span>studio</span>
              <input type="checkbox" class="cb" name="apartment" id="g01-04"  onchange="doalert(this)"/><span>apartment</span>
              <input type="checkbox" class="cb" name="balcony" id="g01-05"  onchange="doalert(this)"/><span>balcony</span>
              <input type="checkbox" class="cb" name="fireplace" id="g01-05"  onchange="doalert(this)"/><span>fireplace</span>
              <input type="checkbox" class="cb" name="gym" id="g01-06"  onchange="doalert(this)"/><span>gym</span>
              <input type="checkbox" class="cb" name="lift" id="g01-0"  onchange="doalert(this)"/><span>lift</span>
          </form>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <a href="#">PriceInterval</a>
         <input id = "min-price" class="controls" type="text" placeholder="min">
         <input id = "max-price" class="controls" type="text" placeholder="max">
      <a href="#">More Coming...</a>
    </div>

    <div id="myHelp" class="help">
      <a href="javascript:void(0)" class="closebtn" onclick="closeHelp()">&times;</a>
    </div>
    <!-- Use any element to open the sidenav 
    <span onclick="openNav()">open</span> -->
    

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page 
    <div id="main">
    </div>
    -->
    <p id="helpMarker" class="speechMarker" >Click markers to view property information</p>
    <p id="helpZoom" class="speechZoom" >Click these buttons to change the zoom level.</p>
	<p id="helpStreet" class="speechStreet" >Drag the person onto the street to enter streetview.</p>   

    <!-- search bar --> 
    <form id = "barForm" >
        <input id = "pac-input" class="controls" type="text" placeholder="Enter address">
        <p id="helpSearch" class="speechSearch" >Enter locations here to find property nearby</p>
    </form>    
    <!-- 
    <div class="input-group col-lg-4" style="position: absolute;">
        <input id = "pac-input" type="text" class="form-control" placeholder="Enter an address" />
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Search</button>
        </span>
    </div>
    -->

<!-- GOOGLE MAP HERE-->

        <div id="map-canvas" class="map-canvas"></div>

        <script src="https://maps.googleapis.com/maps/api/js?AIzaSyBbwRTFPSOWmk49COJJFiMu8Ezpobh_z_k&libraries=places"></script>
        <script>
            var markers = [];
            var currentBounds;
            var lastBounds;

            function initialize() {
                var map = new google.maps.Map(document.getElementById('map-canvas'));
                var bounds = new google.maps.LatLngBounds();

                function addMarker(lat, lng, title, info) {
                   
                    var position = new google.maps.LatLng(lat, lng);
                    if(!shouldAddMarker(position)){
                        console.log("shoud not log this!")
                        return;
                    }
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: title
                    });
                    markers.push(marker);
                    bounds.extend(position);
                    if(info != null){
                        //Info windows
                        var contentString = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h1 id="firstHeading" class="firstHeading">'+ info.title +'</h1>'+
                        '<img src='+ info.img_url +' style="width:304px;height:228px;">'+
                        '<div id="bodyContent">'+
                        '<p>'+ info.summary + ' </p>'+
                        '<p> Price Starting: '+ info.price + " "+ info.price_currency + ' </p>'+
                        '<p> Property Type: '+ info.property_type + ' </p>'+
                        '<p> Bedroom number: '+ info.bedroom_number + ' </p>'+
                        '<p> bathroom number: '+ info.bathroom_number + ' </p>'+
                        '<p><a href= '+ info.lister_url +'>'+
                        'Click for details</a> '+
                        '</p>'+
                        '</div>'+
                        '</div>';
                        var infowindow = new google.maps.InfoWindow({
                        content: contentString
                        });
                    }
                     
                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });
                }

                function httpGet(theUrl) {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
                    xmlHttp.send( null );
                    return xmlHttp.responseText;
                }

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }


                function sendHTTPPost(control,fit){
                    var csrftoken = getCookie('csrftoken');
                    var http = new XMLHttpRequest();
                    http.open("POST", "", true);
                    http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    http.setRequestHeader("X-CSRFToken",csrftoken);
                    var params = control
                    http.send(params)
                    http.onload = function() {
                        //JSON objects here
                        var allInfo = JSON.parse(http.responseText);
                        console.log(http.responseText);
                        if(allInfo.response.application_response_code != 200){
                            if(allInfo.page < allInfo.total_pages){
                                var nextPage = parseInt(allInfo.page) + 1;
                                http.send(params + "&page=" + nextPage);
                            }
                            var responseArray = allInfo.response.listings;
                            for(var i = 0 ; i < responseArray.length ; i++){
                                console.log(i);
                                addMarker(responseArray[i].latitude,responseArray[i].longitude,responseArray[i].title,responseArray[i]);
                            }
                          
                        }
                        if(fit == 1){
                            map.fitBounds(bounds);
                        }
                        
                    }
                   

                }


                function updateMarkers(name,fit){
                   sendHTTPPost("pac-input=" + name, fit);
                }

                function updateMarkersByBound(bound){
                    sendHTTPPost("&south_west=" + bound.getSouthWest().lat() + "," + bound.getSouthWest().lng() 
                                 + "&north_east=" + bound.getNorthEast().lat() + "," + bound.getNorthEast().lng(),0);
                }

                function clearMarkers(){
                    //clear out old markers
                    markers.forEach(function(marker) {
                        marker.setMap(null);
                    });
                    markers = [];
                }

                function shouldAddMarker(obj){
                    markers.forEach(function(marker) {
                        if(marker.getPosition() == obj){
                            return false;
                        }
                       
                    });
                    return true;
                               
                }

             

         

                {% for poi in pois %}
                    addMarker({{ poi.position.latitude }}, {{ poi.position.longitude }}, "{{ poi.name }}");
                             
                {% endfor %}
                map.fitBounds(bounds);
                updateMarkers("Retford",1);


                setInterval(function(){
                    //alert("2000!")
                    if(lastBounds != currentBounds){
                        updateMarkersByBound(currentBounds);
                        lastBounds = currentBounds;
                    }
                }, 1000);


                //----------------------ALVA'S CODE (pls be gentle) --------------------------

               
                // create search box
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                
                //bias results to current map viewport
                map.addListener('bounds_changed', function() {
                    searchBox.setBounds(map.getBounds());
                });

                google.maps.event.addListener(map, 'bounds_changed', function() {
                    try {
                          currentBounds = map.getBounds(); 
                    } catch( err ) {
                        alert( err );
                    }
                });
                
                //listen for event fired when user selects a prediction
                searchBox.addListener('places_changed', function(){
                    var places = searchBox.getPlaces();

                    if (places.length == 0) {
                        return;
                    }
                   
                    clearMarkers();
                    updateMarkers(places[0].name);
                    

                    // for each place, get icon, name and location
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function(place) {
                        if (!place.geometry) {
                            console.log("Returned place contained no geometry");
                            return;
                        }
                        var icon = {
                            url: place.icon,
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(17, 34),
                            scaledSize: new google.maps.Size(25, 25)
                        };

                        //creating a marker for each place
                        markers.push(new google.maps.Marker({
                            map: map,
                            icon: icon,
                            title: place.name,
                            position: place.geometry.location
                        }));

                        if (place.geometry.viewport) {
                            //only geocodes have a viewport 4Head
                            bounds.union(place.geometry.viewport);
                        } else {
                            bounds.extend(place.geometry.location);
                        }

                    });
                    map.fitBounds(bounds);
                });


                //------------------------------------------------------------------------------

            }
            google.maps.event.addDomListener(window, 'load', initialize);            

        </script>

    <!-- sidenav script 
    ==================================================-->
    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0px";
        }

		/* Open the sidenav */
		function openHelp() {
			document.getElementById("myHelp").style.width = "100%";
		    document.getElementById("helpText").style.opacity = "1";
		    document.getElementById("helpSearch").style.opacity = "1";
		    document.getElementById("helpMarker").style.opacity = "1";
		    document.getElementById("helpZoom").style.opacity = "1";
		    document.getElementById("helpStreet").style.opacity = "1";
		}

		/* Close/hide the sidenav */
		function closeHelp() {
			document.getElementById("myHelp").style.width = "0";
		    document.getElementById("helpText").style.opacity = "0";
		    document.getElementById("helpSearch").style.opacity = "0";
		    document.getElementById("helpMarker").style.opacity = "0";
		    document.getElementById("helpZoom").style.opacity = "0";
		    document.getElementById("helpStreet").style.opacity = "0";
		}
    </script>

    <script>
        function doalert(checkboxElem) {
            clearMarkers();
            updateMarkersByBound(currentBound);
        }
        function getKeywords(){
           var allBox = document.getElementsByClassName("cb");
           var str = "";
           for(var i = 0 ; i < allBox.length ; i ++){
                 if (allBox[i].checked) {
                    str = str + allBox[i].name + ",";
                }
           }
           return str.substring(0,str.length - 1 );
        }  

        
    </script>

    <script src="http://api.nestoria.co.uk"></script>
    <script>

    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>

